[Unit]
Description=Bot controller
After=uv4l_raspicam.service

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/avicar-poc
ExecStart=/usr/bin/python3 /home/pi/avicar-poc/controller.py
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
